@model IEnumerable<Fiap.Exemplo04.MVC.Models.Jogador>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Jogador</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>

    </tr>
}

</table>
